.menu{
    width: 100%;
}

#opcao-cadastro:checked ~ #menu-sopro,
#opcao-sopro:checked ~ #menu-cadastro{
    display: none;
}

body{
    margin: 0;
    background: red;
    font-family: sans-serif;
    text-align: center;
}

label{
    background-color:#F79F81;
    background-size: 4em;
    background-repeat: no-repeat;
    background-position: center top;
    color: white;
    display: block;
    font-size: 75%;
    padding: 4em 0 1em;
    text-transform: uppercase;
}
    label[for="opcao-cadastro"]{
        background-image: url(img/cadastro.png);
    }
    label[for="opcao-sopro"]{
        background-image: url(img/wind.png);
    }
    input[type=radio]:checked + label{
        background-color: #FF0000;
    }
   
    
label{
    width: 50%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
    
label[for=opcao-cadastro]{
    left: 0;
}
    
label[for=opcao-sopro]{
    right: 0;
}
